extends layout

block content
	h1 Lingo - Translation services
	form(method="post" action='/translate')
		input(type="text" name="text" placeholder="Word to translate")
		br
		input(type="text" name="from" placeholder="Language to translate from")
		br
		input(type="text" name="to" placeholder="Language to translate to")
		br
		input(type="submit" value="Translate")
	if translation 
		div Translation: #{translation.translation}

	//- a(href='/quiz')
	form(action='/quiz' method="get")
		input(type='submit' value="Take a Quiz!")