doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Lingo

	body
		block content

		block scripts
			script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
			script(src="/main.js")